<%- include("partials/header.ejs")%>
<br>
      <center class="mt-5">
          <h1 id="landing" style=" font-size: 50px; font-family:'Comic Sans MS', sans-serif;" 
			  class="mb-5">Share What You've Learned<br>
            And <br>
            Learn What You Want</h1>
            <a href="/newsfeed" class="btn btn-lg btn-info">Go to Feed</a>
      </center>

<%- include("partials/footer.ejs")%>