<%- include("partials/header.ejs")%>
<br>
      <div class="container-fluid">
          <div class="col-md-7 mx-auto">
              <form enctype="multipart/form-data" action="/newsfeed" method="POST" enctype="multipart/form-data">
              <div class="p-4" id="posts">
                <input id="new_title" type="text" name="question[title]" placeholder="Title of the post . . . "
					   class="form-control"><br>
                <div class="custom-file mb-3">
                    <input type="file" name="image" class="custom-file-input" accept="image/*" id="customFile">
                    <label class="custom-file-label" for="customFile">
                        <i class="fas fa-images"></i> Add image</label>
                  </div>
                <br>
                <textarea name="question[content]" id="new_content" class="mb-2" rows="10" placeholder="Content of the post"></textarea>
              </div>
              <button class="btn btn-info mt-2 mr-2">Submit</button>
              <a href="/newfeed.html" class="btn btn-outline-secondary mt-2">Back</a>
            </form>
          </div>
      </div>


      <script>
        $('#customFile').on('change',function(){
            //get the file name
            var fileName = $(this).val();
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        })
    </script>

<%- include("partials/footer.ejs")%>